.container {
  margin-top: 50px;
}

.my-custom-scrollbar {
  position: relative;
  height: 270px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

// search

.results tr[visible='false'],
.no-result {
  display: none;
}

.results tr[visible='true'] {
  display: table-row;
}

.counter {
  padding: 8px;
  color: #ccc;
}

.info {
  margin-top: 15px;
  .btn {
    margin-top: 5px;
  }
}